<div xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorate="~{base_layout}" layout:fragment="~{body}" th:remove="tag">

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>shortText</th>
        <th>text</th>
        <th>Image</th>

    </tr>
    <tr th:each="post : ${ads}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.shortText}"></td>
        <td th:text="${post.text}"></td>
        <td><img width="50" th:if="${post.picUrl != null}" th:src="@{/getPicUrl(picUrl=${post.picUrl})}"></td>

    </tr>

</table>


</div>