<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorate="~{base_layout}" layout:fragment="~{body}" th:remove="tag">
  <div class="intro" style="background-image: url(/images/bg3.jpg);min-height:100px">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center">
          <h1 class="intro-title animated fadeInDown"> Find and add your Ads </h1>

          <p class="sub animateme fittext3 animated fadeIn">
            Find local classified ads on bootclassified in Minutes
          </p>


        </div>
      </div>
    </div>
  </div>

  <!-- /.search-row -->
  <div class="main-container">
    <div class="container">
      <div class="row">
        <!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
        <div class="col-md-3 page-sidebar mobile-filter-sidebar sidebar-modern">
          <aside>
            <div class="sidebar-modern-inner">
              <div class="block-title sidebar-header">
                <h5><a th:href="@{getPost/all}">All Categories</a></h5>
              </div>
              <div class="block-content categories-list  list-filter ">

                <ul class=" list-unstyled">
                  <li th:each="cat : ${categories}"><a th:text="${cat.name}"
                                                       th:href="@{/getPostByCategory(id=${cat.id})}"><span
                      class="title">Sports</span>
                  </a>
                  </li>

                </ul>
              </div>
              <div style="clear:both"></div>
            </div>
          </aside>
        </div>
        <!--/.page-side-bar-->
        <div class="col-md-9 page-content col-thin-left">
          <div class="category-list event-category-list">

            <div class="listing-filter listing-filter-event">
              <div class="col-6 p-0 text-right listing-view-action hasEvent"><span
                  class="e-list-view "><i class="  icon-th"></i></span> <span
                  class="e-grid-view active"><i class=" icon-th-large "></i></span></div>
              <div style="clear:both"></div>
            </div>


            <div class="adds-wrapper">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-12 event-item-col" th:each="post : ${posts}">
                  <div class="card card-event info-overlay" style="width: 193px;margin-left: 91px;">
                    <div class="img has-background"
                         style="background-image: url(/images/ads.jpeg); background-size:cover ">
                      <div class="pop-info ">
                                    <span class="event-badges ">
									    <span class="badge price-tag big badge-default"> FREE</span>
								    </span>
                      </div>


                      <a th:href="@{/getPostByCategory(id=${post.id})}" class="event-pop-link">

                        <ul>
                          <li>
                            <time>
                              <span th:text="${post.postDate}"></span>
                            </time>
                          </li>
                        </ul>

                      </a>

                      <a th:href="@{/getPost(id=${post.id})}">
                        <img alt="340x230" class="card-img-top img-responsive"
                             data-holder-rendered="true"
                             th:src=="@{/getImages(pic_url=${post.picUrl})}"> </a>
                    </div>
                    <div class="card-body" style="margin-top: 14px;">
                      <h4 class="card-title">
                        <a th:href="@{/getPost(id=${post.category.id})}" th:text="${post.title}"></a>
                        <span style="float: right;">
                          <i class="fa fa-eye"></i>
                          <span th:text="${post.view}"></span>
                        </span>
                      </h4>


                      <div class="card-event-info">

                        <p class="event-time" th:text="${post.postDate}"><i
                            class="fa icon-calendar-1"></i></p>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="pull-left left">
                        <div class="" th:text="${'By '+ post.user.name}">
                          <a th:href="@{/getPostByUser(id=${post.id})}"> </a></div>
                      </div>
                      <!--<div class="pull-right right social-link">-->
                      <!--<a href="#"><i class="fa  fa-share-alt"></i> </a>-->

                      <!--<a href="#"><i class="fa  fa-heart"></i> </a>-->
                      <!--</div>-->

                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!--/.adds-wrapper-->

            <div class="tab-box  save-search-bar text-center"></div>
          </div>
          <div class="pagination-bar text-center">
            <nav aria-label="Page navigation " class="d-inline-b">
              <ul class="pagination">

                <li class="page-item active" th:if="${posts.totalPages > 0}"
                    th:each="pageNumber : ${pageNumbers}">
                      <a class="page-link" style="cursor: pointer;"
                         th:href="@{/getPostByCategory(id=${id},size=${posts.size}, page=${pageNumber})}"
                         th:text="${pageNumber}"
                         th:class="${pageNumber==posts.number + 1} ? active"></a>
                </li>

              </ul>
            </nav>
          </div>


          <!--/.pagination-bar -->

          <div class="post-promo text-center" th:if="${currentUser!=null}">

            <a th:href="@{/postAds}" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
          </div>
          <!--/.post-promo-->

        </div>
        <!--/.page-content-->

      </div>
    </div>
  </div>
</div>

