<div xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorate="~{base_layout}" layout:fragment="~{body}" th:remove="tag">
  <div th:insert="menu.html"></div>
  <div style="text-align: center;
    font-size: 24px;" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

  <div class="intro" style="background-image: url(/images/bg3.jpg);">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center">
          <h1 class="intro-title animated fadeInDown"> Find and add your Ads </h1>

          <p class="sub animateme fittext3 animated fadeIn">
            Find local classified ads on bootclassified in Minutes
          </p>


        </div>
      </div>
    </div>
  </div>
  <!--<div style="text-align: center;-->
  <!--font-size: 24px;" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>-->

  <div class="main-container">
    <div class="container">

      <div class="col-xl-12 content-box ">
        <div class="row row-featured row-featured-category">
          <div class="col-xl-12  box-title no-border">
            <div class="inner">
              <h2><span>Most viewes</span>
                Ads</h2>
            </div>
          </div>
          <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category" th:each="ads : ${viewedPosts}">
            <ul>
              <li style="float: right;">
                <i class="fa fa-eye"></i>
                <span th:text="${ads.view}"></span>
              </li>
              <li>
                <time>
                  <span th:text="${ads.postDate}"></span>
                </time>
              </li>
            </ul>
            <a th:href="@{/getPost(id=${ads.id})}">
              <img th:if="${ads.picUrl!= null}" th:src="@{/getImages(picUrl=${ads.picUrl})}"
                   class="img-responsive" alt="img">
              <h6 th:text="${ads.title}"></h6></a>
          </div>
      </div>
      <div style="clear: both"></div>
      <div class="col-xl-12 content-box ">
        <div class="row row-featured">
          <div class="col-xl-12  box-title ">
            <div class="inner"><h2><span>Sponsored </span>
              Category </h2>

            </div>
          </div>

          <div style="clear: both"></div>

          <div class=" relative  content featured-list-row  w100">

            <nav class="slider-nav has-white-bg nav-narrow-svg">
              <a class="prev">
                <span class="nav-icon-wrap"></span>

              </a>
              <a class="next">
                <span class="nav-icon-wrap"></span>
              </a>
            </nav>

            <div class="no-margin featured-list-slider ">
              <div class="item" th:each="cat : ${categories}">
                <a th:href="@{/getPostByCategory(id=${cat.id})}">
                                <span class="item-carousel-thumb">
                                    <img th:if="${cat.picName != null}"
                                         th:src="@{/getImages(picUrl=${cat.picName})}"
                                         class="item-img">
                                </span>
                  <span class="item-name" th:text="${cat.name}"></span>
                </a></div>
            </div>
          </div>


        </div>
      </div>



      <div style="clear: both"></div>

      <div class="col-xl-12 content-box ">
        <div class="row row-featured row-featured-category">
          <div class="col-xl-12  box-title no-border">
            <div class="inner">
              <h2><span>Latest</span>
                Ads</h2>
            </div>
          </div>

          <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category" th:each="ads : ${allAds}">
            <ul>
              <li style="float: right;">
                <i class="fa fa-eye"></i>
                <span th:text="${ads.view}"></span>
              </li>
              <li>
                <time>
                  <span th:text="${ads.postDate}"></span>
                </time>
              </li>
            </ul>
            <a th:href="@{/getPost(id=${ads.id})}">
              <img th:if="${ads.picUrl!= null}" th:src="@{/getImages(picUrl=${ads.picUrl})}"
              class="img-responsive" alt="img">
              <h6 th:text="${ads.title}"></h6></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>