<div class="item-list" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     th:fragment="~{item}">
  <div class="cornerRibbons featuredAds">
    <a href="#"> Featured Ads</a>
  </div>

  <div class="row">


    <div class="col-md-2 no-padding photobox">
      <div class="add-image"><span class="photo-count"><i
          class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
          class="thumbnail no-margin" src="images/item/tp/Image00008.jpg"
          alt="img"></a></div>
    </div>
    <!--/.photobox-->
    <div class="col-sm-7 add-desc-box">
      <div class="ads-details">
        <h5 class="add-title"><a href="ads-details.html">
          Sony Xperia dual sim 100% brand new </a></h5>
        <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                      data-toggle="tooltip" data-placement="right"
                                      title="Business Ads">B </span> <span
            class="date"><i
            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
            class="category">Electronics </span>- <span class="item-location"><i
            class="fa fa-map-marker-alt"></i> New York </span> </span></div>
    </div>
    <!--/.add-desc-box-->
    <div class="col-md-3 text-right  price-box">
      <h2 class="item-price"> $ 250 </h2>
      <a class="btn btn-danger  btn-sm make-favorite"> <i
          class="fa fa-certificate"></i>
        <span>Featured Ads</span> </a> <a
        class="btn btn-default  btn-sm make-favorite">
      <i class="fa fa-heart"></i> <span>Save</span> </a></div>
    <!--/.add-desc-box-->
  </div>
</div>