<div class="themeControll " xmlns:th="http://www.thymeleaf.org" >
  <h3 style=" color:#fff; font-size: 10px; line-height: 12px;"
      class="uppercase color-white text-center">
    <a target="_blank" href="#"> All
      Categories</a></h3>

  <div class="linkinner linkScroll scrollbar " tabindex="1"
       style="overflow: hidden; outline: none; touch-action: none;">
    <a th:href="@{/getPostByCategory(id=${cat.id})}" th:each="cat : ${categories}" th:text="${cat.name}"></a>
  </div>

  <p class="tbtn"><i class="fa fa-angle-double-left"></i></p>
  <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr"
       style="width: 8px; z-index: 999999; cursor: default; position: absolute; top: 64px;
       left: 162px; height: 400px; touch-action: none; display: block; opacity: 0;">
    <div class="nicescroll-cursors"
         style="position: relative; top: 0px; float: right; width: 6px; height: 122px;
         background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255);
          background-clip: padding-box; border-radius: 5px; touch-action: none;">
    </div>
  </div>
  <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr"
       style="height: 8px; z-index: 999999; top: 456px; left: 0px; position: absolute; cursor: default; display: none; width: 162px; opacity: 0;">
    <div class="nicescroll-cursors"
         style="position: absolute; top: 0px; height: 6px; width: 170px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;"></div>
  </div>
</div>
